<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
		 	<a class="navbar-brand" [routerLink]="['/']">RecipesBook</a>
		</div>
		<ul class="nav navbar-nav">
			<li routerLinkActive="active"><a [routerLink]="['/recipes']">Recipes</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping List</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li routerLinkActive="active"*ngIf="!authService.isAuthenticated()"><a [routerLink]="['/signup']">signup</a></li>
			<li routerLinkActive="active" *ngIf="!authService.isAuthenticated()"><a [routerLink]="['/signin']">signin</a></li>
			<li routerLinkActive="active" *ngIf="authService.isAuthenticated()"><a (click)="Logout()">signOut</a></li>
			<li *ngIf="authService.isAuthenticated()" class="dropdown" appDropdown>
				<a class="dropdown-toggle" data-toggle="dropdown">Actions
				<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a (click)="onSaveData()">Save Data</a></li>
					<li><a (click)="onFetchData()">Fetch Data</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>